body {
  background-color: #23232e;
}
* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;

  background-color: #1a1a20;
}
a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  margin-top: 5px;
  text-transform: uppercase;
  width: 120px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 0.125vw;
  margin-left: 5vw;
  list-style: none;
  text-decoration-style: none;
  
}

/* Adicione este estilo para o botão de alternância */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #615e5e;
}

/* Ajuste os estilos para lidar com o menu sanduíche em telas menores */
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: transparent;
    width: 50%;
    top: 70px;
    left: 50px;
    padding: 30px;
    margin-top: -40px;
  }

  .nav-list.show {
    display: flex;
    margin-left: 70px;
    padding: 0;
    align-items: center;
    margin-top: -25px;
  }

  .nav-list li {
    margin-left: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .menu-toggle {
    display: flex;
    margin-right: 20px;
    
  }
}

.titulo {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}
.filmes {
  font-style: bold;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  padding: 0px 30px 0px 30px;
  font-size: 22px;
}
footer {
  background-color: #1a1a20;
  padding: 10px;
  text-align: center;
  padding: 20px 0;
  color: #ffffff;
  font-size: 14px;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 0 25%;
  margin-bottom: 0px;
}

h4 {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

ul li a {
  color: #fffefe;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}
